<h1>Login</h1>
<form method="POST" id="login" action="/login">
  <div class="control-group">

    <label for="email">Email</label>
    <input name="email" id="email" type="text" />
  </div>
  <div class="control-group">
    <label for="password">Password</label>
    <input name="password" id="password" type="password" />
  </div>
  <input type="submit" value="Login" class="btn btn-primary" />
</form>