<div id="action-bar">
  <%= render_partial :feed_action_bar %>
</div>

<% unless @feeds.empty? %>
<div id="feeds-container">
  <ul id="feed-list">
    <% @feeds.each do |feed| %>
      <%= render_partial :feed, { feed: feed } %>
    <% end %>
  </ul>
</div>
<% else %>
  <div id="add-some-feeds">
    <p><%= t('feeds.index.add_some_feeds', :add => '<a href="/feeds/new">'+t('feeds.index.add')+'</a>') %></p>
  </div>
<% end %>

<script type="text/javascript">
  $(document).ready(function () {
    $(".status").tooltip();
  });
</script>