*.gem
*.rbc
.bundle
.config
.ruby-gemset
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
log

# YARD artifacts
.yardoc
_yardoc
doc/
bin/

db/*.sqlite
.DS_Store
.localeapp
