<% if flash.has_key? :success %>
  <div class="alert alert-success success">
    <%= flash[:success] %>
  </div>
<% end %>

<% if flash.has_key? :error %>
  <div class="alert alert-error error">
    <%= flash[:error] %>
  </div>
<% end %>