<div id="shortcuts" class="modal hide fade" tabindex="-1" role="dialog">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Keyboard shortcuts</h3>
  </div>
  <div class="modal-body">
    <ul class="shortcut-legend">
      <li><kbd>j</kbd>/<kbd>k</kbd>: Move up/down</li>
      <li><kbd>o</kbd> or <kbd>enter</kbd>: Toggle story open/closed</li>
      <li><kbd>v</kbd>: Go to story URL</li>
      <li class="blank"></li>
      <li><kbd>shift</kbd>+<kbd>a</kbd>: Mark all as read</li>
      <li><kbd>r</kbd>: Refresh</li>
    </ul>
  </div>
</div>