<div id="zen">
  <span id="zero">&ndash; 0 &ndash;</span>
  <p>You&#8217;ve reached RSS Zero&trade;</p>
  <p>
    <small>
      Now stop reading blogs and 
      <span id="gtfo">go make something</span>
    </small>
  </p>
</div>