html, body {
  height: 100%;
}

body {
  background-color: #FAF2E5;
}

.container {
  width: 720px;
  margin: 0 auto;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -30px;
}

/* Set the fixed height of the footer here */
#push, #footer {
  height: 30px;
}

#frame {
  border-top: 7px solid #484948;
}

.btn {
  padding: 8px;
  height: 14px;
  width: 14px;
  background-color: #484948;
}

.btn:hover, .btn:focus {
  background-color: #7F8281;
}

.btn.btn-primary {
  background-color: #F67100;
}

.btn.btn-primary:hover, .btn.btn-primary:focus {
  background-color: #F59745;
}

.no-margin {
  margin-left: 0px !important;
}

#action-bar {
  margin-top: 14px;
  margin-bottom: 14px;
}

ul#story-list {
  list-style-type: none;
  margin-left: 0px;
}

ul#story-list p {
  margin-top: 0px;
  margin-bottom: 0px;
}

li.story {
  margin-bottom: 7px;
  background-color: white;
  cursor: pointer;
  border-radius: 5px;
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  transform: rotate(0);
}

li.story a {
  color: #F67100;
  text-decoration: none;
  border-bottom: 1px dotted #F67100;
}

li.story a:hover {
  color: #F59745;
  border-bottom: 1px dotted #F59745;
}

li.story.read {
  opacity: 0.5;
}

li.story.open {
  opacity: 1.0;
}

li.story.open .story-lead {
  transition: opacity 1.5s ease-out;
  -webkit-transition: opacity 1.5s ease-out;
  opacity: 0;
}

li.story.open .story-preview {
  border-bottom: 2px solid #FAF2E5;
}

.story-preview {
  height: 30px;
  line-height: 30px;
}

.blog-title {
  text-align: left;
  margin-left: 20px;
  overflow: hidden;
}

.story-lead {
  color: gray;
}

.story-body {
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: justify;
}