<div class="hide">
  <%= form_with(url: "/stories/mark_all_as_read", id: "mark-all-as-read") do %>
    <% stories.each do |story| %>
      <input type="hidden" name="story_ids[]" value="<%= story.id %>" />
    <% end %>
  <% end %>
</div>
