<div id="zen">
  <span id="zero">&ndash; 0 &ndash;</span>
  <p><%= t('partials.zen.rss_zero') %></p>
  <p>
    <small>
      <%= t('partials.zen.gtfo') %> <span id="gtfo"><%= t('partials.zen.go_make') %></span>.
    </small>
  </p>
  <p class="view-all">
    <a href="/archive"><%= t('partials.zen.archive') %></a>
  </p>
</div>
