<% content_for :title do %>
  <% unless @unread_stories.empty? %>
    <%= "(#{@unread_stories.count})" %>
  <% end %>
<% end %>

<div id="action-bar">
  <%= render "stories/action_bar", { stories: @unread_stories } %>
</div>

<% if @unread_stories.empty? %>
  <%= render "stories/zen" %>
<% else %>
  <div id="stories" data-controller="story-list" data-action="keydown@document->story-list#handleKeydown story:read->story-list#storyRead">
    <ul id="story-list">
      <%= render partial: "stories/story", collection: @unread_stories, as: :story %>
    </ul>
  </div>
<% end %>
