<script type="text/template" id="story-template">
  <div class="row story-preview">
    <div class="col-md-3">
      <div class="story-starred">
        <i class="fa {{ if(is_starred) { }}fa-star{{ } else { }}fa-star-o{{ } }}"></i>
      </div>
      <p class="blog-title">
        {{= source }}
      </p>
    </div>
    <div class="col-md-9">
      <p class="story-details">
        <span class="story-title">
          {{= headline }}
        </span>
        <span class="story-lead">
          &mdash; {{= lead }}
        </span>
      </p>
    </div>
  </div>

  <div class="story-body-container">
    <div class="story-body">
      <h1>
        <a href="{{= permalink }}">{{= title }}</a>
        {{ if (enclosure_url) { }}
          <a class="story-enclosure" target="_blank" href="{{= enclosure_url }}">
            <i class="fa fa-download"></i>
          </a>
        {{ } }}
      </h1>
      {{= body }}
    </div>
    <div class="row story-actions-container">
      <div class="pull-left">
        <span class="story-published">
          {{= pretty_date }}
        </span>
      </div>
      <div class="pull-right story-actions">
        <div class="story-keep-unread">
          <i class="fa {{ if(keep_unread) { }}fa-check{{ } else { }}fa-square-o{{ } }}"></i> <%= I18n.t('stories.keep_unread') %>
        </div>
        <div class="story-starred">
          <i class="fa {{ if(is_starred) { }}fa-star{{ } else { }}fa-star-o{{ } }}"></i>
        </div>
        <a class="story-permalink" target="_blank" href="{{= permalink }}">
          <i class="fa fa-external-link"></i>
        </a>
      </div>
    </div>
  </div>
</script>
