<div class="setup" id="password-setup">
  <h1>Stringer is <span class="orange">anti-social</span>.</h1>
  <h2>There is only one user: you.</h2>
  <hr />
  <p>Let's setup a password so only you can read your stories.</p>
  <hr />
  <form id="password_setup" method="POST" action="/password">
    <div class="control-group">
      <label for="password">Password</label>
      <input type="password" name="password" id="password" />
    </div>
    <div class="control-group">
      <label for="password">Confirm Password</label>
      <input type="password" name="password_confirmation" id="password_confirmation" />
    </div>

    <input type="submit" id="submit" class="btn btn-primary pull-right" value="Next"/>
  </form>
</div>