<div class="setup" id="password-setup">
  <h1>Stringer is <span class="orange">anti-social</span>.</h1>
  <h2>There is only one user: you.</h2>
  <hr />
  <p>Let's setup a password so only you can read your stories.</p>
  <hr />
  <form id="password_setup" method="POST" action="/password">
    <div class="control-group">
      <input name="password" id="password" type="password" autofocus="autofocus"/ >
      <i class="icon-lock field-icon"></i>
      <label id="password-label" class="field-label" for="password">Password</label>
    </div>
    <div class="control-group">
      <input name="password_confirmation" id="password-confirmation" type="password" />
      <i class="icon-lock field-icon"></i>
      <label id="confirm-label" class="field-label" for="password_confirmation">Confirm</label>
    </div>

    <input type="submit" id="submit" class="btn btn-primary pull-right" value="Next"/>
  </form>
</div>