@import url("bootstrap/dist/css/bootstrap.min.css");
@import url("font-awesome/css/font-awesome.min.css");
@import url("@fontsource/lato/latin.css");
@import url("@fontsource/lato/latin-400-italic.css");
@import url("@fontsource/reenie-beanie/latin.css");
