/* custom CSS goes here */
@import "bootstrap/dist/css/bootstrap.min.css";
@import "font-awesome/css/font-awesome.min.css";
@import "@fontsource/lato/latin.css";
@import "@fontsource/lato/latin-400-italic.css";
@import "@fontsource/reenie-beanie/latin.css";
