@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: url('lato-latin-300-normal.woff2') format('woff2'),
       url('lato-latin-300-normal.woff') format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('lato-latin-400-normal.woff2') format('woff2'),
       url('lato-latin-400-normal.woff') format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url('lato-latin-700-normal.woff2') format('woff2'),
       url('lato-latin-700-normal.woff') format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: url('lato-latin-900-normal.woff2') format('woff2'),
       url('lato-latin-900-normal.woff') format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: url('lato-latin-400-italic.woff2') format('woff2'),
       url('lato-latin-400-italic.woff') format('woff');
}
