@font-face {
  font-family: 'Reenie Beanie';
  font-style: normal;
  font-weight: 400;
  src: url('reenie-beanie-latin-400-normal.woff2') format('woff2'),
       url('reenie-beanie-latin-400-normal.woff') format('woff');
}
