<% content_for :head do %>
  <script src="/js/bootstrap.file-input.js"></script>
<% end %>

<div class="setup" id="feed-setup">
  <h1>Welcome aboard.</h1>
  <h2>Let's setup your feeds.</h2>
  
  <hr />
  <p>
    <a href="https://www.google.com/reader/subscriptions/export?hl=en">Export</a> your feeds from Google Reader and import them.
  </p>
  <hr />

  <form id="import" method="POST" action="/import" enctype="multipart/form-data">
    <input id="opml_file" name="opml_file" type="file" title="Import" class="btn-primary" />
    <a href="/tutorial" id="skip" class="btn pull-right">Not now</a>
  </form> 
</div>

<script type="text/javascript">
$(document).ready(function() {
  $('#opml_file').on("filePicked", function(e) {
    $('form#import').submit();
  });
});
</script>