<% content_for :title do %>
  <% unless @unread_stories.empty? %>
    <%= "(#{@unread_stories.count})" %>
  <% end %>
<% end %>

<div id="action-bar">
  <%= render_partial :action_bar, { stories: @unread_stories } %>
</div>

<% if @unread_stories.empty? %>
  <%= render_partial :zen %>
<% else %>
  <%= render_js :stories, { stories: @unread_stories } %>
  
  <div id="stories">
    <ul id="story-list">
    </ul>
  </div>
<% end %>