<% content_for :title do %>
  <% unless @unread_stories.empty? %>
    <%= "(#{@unread_stories.count})" %>
  <% end %>
<% end %>

<div id="action-bar">
  <%= render_partial :action_bar, { stories: @unread_stories } %>
</div>

<% unless @unread_stories.empty? %>
<div id="stories">
  <ul id="story-list">
    <% @unread_stories.each do |story| %>
      <%= render_partial :story, { story: story } %>
    <% end %>
  </ul>
</div>
<% else %>
  <%= render_partial :zen %>
<% end %>