<% if flash.key? :success %>
  <div class="alert alert-success success">
    <%= flash[:success] %>
  </div>
<% end %>

<% if flash.key? :error %>
  <div class="alert alert-danger error">
    <%= flash[:error] %>
  </div>
<% end %>

<noscript>
  <div class="alert alert-danger error">
    <%= t('flash.js_required') %>
  </div>
</noscript>
