<% if flash.has_key? :success %>
  <div class="alert alert-success success">
    <%= flash[:success] %>
  </div>
<% end %>

<% if flash.has_key? :error %>
  <div class="alert alert-error error">
    <%= flash[:error] %>
  </div>
<% end %>

<noscript>
  <div class="alert alert-error error">
    <%= t('flash.js_required') %>
  </div>
</noscript>

<div id="cookies-required" class="alert alert-error error" style="display: none;">
  <%= t('flash.cookies_required') %>
</div>

<script type="text/javascript">
$(document).ready(function() {
  if (!navigator.cookieEnabled) {
    $("#cookies-required").show();
  }
});
</script>